@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");
body{
    font-family: "Share Tech Mono", monospace;
    font-size: 1rem;
    box-sizing: border-box;
    color: #e7e7e7;
    margin:0;
    padding:0;
    background: rgb(19, 19, 19);
}
*{
    scroll-behavior: smooth;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.25rem;
}
.logo ul{
    list-style-type: none;
    display: flex;
    margin:0;
    flex-wrap: wrap;
    padding:0;
}
.logo ul li{
    display: block;
    line-height: 3rem;
}
.logo ul li a {
    color: #fff;
    margin-left: 0.625rem;
    background-color: gray;
    text-decoration: none;
    width:100%;
    text-align: center;
    padding: 0.625rem 1.563rem;
    font-weight: bold;
    border-radius:1.25rem; 
}
.logo ul li a :hover{
    background-color: #fff;
    padding:0.938rem 1.875rem;
    color:black;
    transition:  background-color 0.3s,padding 0.3s,color 0.3s;  
}
.options ul{
    display: flex;
    list-style: none;
    margin:0;
    flex-wrap: wrap;
    padding:0;
}
.options ul li{
    display:inline-block;
    line-height: 3rem;
}
.options ul li a{
    color: #fff;
    margin-left: 0.625rem;
    background-color: gray;
    text-decoration: none;
    width:100%;
    text-align: center;
    padding: 0.625rem 1.563rem;
    font-weight: bold;
    border-radius: 1.25rem; 
}
ul li a:hover{
    background-color: #fff;
    padding:0.938rem 1.875rem;
    color:black;
    transition:  background-color 0.3s,padding 0.3s,color 0.3s;  
}
.intro-page{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        135deg,
        rgba(0, 64, 77, 0.9) 0%,
        rgba(14, 203, 250, 0.8) 100%
        );
    background-size: contain;
    position: relative;
}
.intro-page .container1{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container1 .ikaris{
    font-size: 60px;
    display: inline-block;
    overflow: hidden;
    white-space:nowrap;
    border-right:0.125rem solid gray;
    animation: typing 4s steps(30,end),blink-cursor 0.75s step-end infinite;
}
@keyframes typing{
    from{width:0;}
    to{width:100%;}
}
@keyframes blink-cursor{
    from, to{border-right-color:transparent;}
    50%{border-right-color:gray;}
}
.container1 h3{
    font-size: 2.5rem;
}
.container1 p{
    font-size: 1.875rem;
}
.intro-btns{
    display: flex;
    justify-content: center;
    gap:calc(1.5rem + 1.5vw);
    margin-top: 2rem;
}
.intro-btns  button{
    padding:0.75rem 2.2rem;
    border-radius:1.25rem;
    cursor:pointer;
    border: none;
    font-size: 0.94rem;
    text-align: center;
    font-family: "Share Tech Mono", monospace;
}
.intro-btns button:hover{
    padding:0.94rem 2.56rem;
    border-radius: 1.438rem;
    background-color: gray;
    transition: all 0.3s; 
    color:white;
    font-weight: 600;
}
.about{
    height: 100vh;
}
.container2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: auto;
    max-width: 50rem;
    gap:2.5rem;
    margin-bottom: 6.25rem;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about h2{
    font-size: 3.125rem;
    text-align: center;
    margin-bottom: 9.375rem;
    text-decoration: underline;
}
.container2{
    background-color:rgb(24,24,24);
    box-shadow: 0 0 0.8rem 0.8rem rgb(35,35,33);
    padding: 2.5rem;
    border-radius: 1.25rem;
}
.container2 img{
    border: 0.625rem solid white;
    width:18.75rem;
    box-shadow: 0 0 0.5rem 0.5rem rgb(35,35,33);
}
.container2 .about-text{
    max-width: 25rem;
    p{
        font-size:1.2rem;
    }
    span{
        font-size: 1.75rem;
        color:rgb(0, 145, 255);
        text-shadow: 0.25rem 0.25rem 0.5rem rgb(15, 15, 90);
    }
}
/* .skills{
    height: 100vh;
} */
.skills h2{
    font-size: 2.75rem;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 7rem;
}
.skills-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}
.skills-img .box1{
    background-color: rgb(24,24,24);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
    align-items: center;
    box-shadow: 0 0 0.8rem 0.8rem rgb(35,35,33);
    border-radius: 1rem;
    padding:1rem;
}
.skills-img  .h12 img{
    width: auto;
    max-width:7.5rem;
    padding:1.875rem;
}
.skills-img .h12 img:hover{
    width:auto;
    max-width: 8.125rem;
    transition: all 0.3s;
}
.skills-img .js{
    width: auto;
    max-width: 9rem;
    padding:1.875rem;
}
.skills-img .js:hover{
    width: auto;
    max-width: 10.25rem;
    transition: all 0.3s;
}

.projects h2{
    font-size: 3rem;
    padding: 2rem;
    margin-bottom: 8rem;
    text-decoration: underline;
    text-align: center;
}
.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .projects .box1{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom:9.375rem;
    gap:3rem;
    background:rgb(24,24,24);
    box-shadow:0 0 0.8rem 0.8rem rgb(35,35,33);     
}
.box h3{
    font-size: 2rem;
    color:rgb(0, 145, 255);
    text-shadow: 0 0 3px #FF0000;
}
.box p{
    font-size: 1.25rem;
}
.box-img img{
    width:auto;
    max-width:18.75rem;
    margin:1rem;
}
.container3 .box{
    width: auto;
    max-width: 20rem;
    margin:1rem;
}

.contact{
    height: 120vh;
}
.contact  h2{
    font-size: 3.5rem;
    margin-bottom: 6.25rem;
    text-decoration: underline;
    text-align: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form form{
    padding:2rem;
    background: linear-gradient(
        135deg,
        rgba(0, 64, 77, 0.9) 0%,
        rgba(14, 203, 250, 0.8) 100%
        );
}
.contact-form  #form, #form1{
    width:auto;
    height: auto;
    max-width: 25rem;
    max-height: 3.1rem;
    margin: 0.625rem;
    padding: 0.625rem;
    border-radius: 1.25rem;
    border: none;
}
.contact-form .h3{
    display: flex;
    justify-content: center;
}
.contact-form .submit-btn{
    display: flex;
    justify-content: center;
}
.contact-form button{
    border: none;
    padding:15px 70px;
    border-radius: 25px;
    cursor:pointer;
    font-size: 14px;
    color:rgb(0, 136, 255);
    font-weight: bold;
}
.contact-form button:hover{
    opacity: 0.8;
}

.social{
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 3.125rem;
}
.social a img{
    align-items: center;
    height: auto;
    width: auto;
    max-width: 3rem;
    max-height: 3rem;
    margin-left: 1.25rem;
    border-radius: 50%;
}
.social a img:hover{
    height: auto;
    width: auto;
    max-width: 3.5rem;
    max-height: 3.5rem;
    transition: all 0.3s;
}
.footer{
    background: linear-gradient(
        135deg,
        rgba(0, 64, 77, 0.9) 0%,
        rgba(14, 203, 250, 0.8) 100%
        );
    display: flex;
    justify-content: center; 
    bottom:0;
    width: 100%;
    height: 5vh;
    position: fixed;
}
.footer p{
    font-family: "Share Tech Mono", monospace;
    font-size: 16px;
    font-weight: bold;
    color:white;
    opacity: 0.7;
}

@media (max-height:550px){
    .social a img{
        margin-bottom: 3.4rem;
    }
    .footer p{
        margin-top: 1.5rem;
        
    }
}
@media (max) {
    
}